/* CSS Variables */

:root {
    --primary-font: "Google Sans Flex", sans-serif;
    --secondary-font: "Unbounded", sans-serif;
    --background-color: #FFFFFF;
    --surface-color: #D5D7D7;
    --text-color: #2D3142;
    --primary-color: #4A7291;
    --primary-rgb: 74, 114, 145;
    --accent-color: #F18D5D; 
}

body,
button,
input,
textarea,
select,
.btn {
    font-family: var(--primary-font);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
.navbar-brand,
.card-title {
    font-family: var(--secondary-font);
}


/*-------------------------------------------- NavBar */

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 0.35rem;
    color: var(--accent-color);
}

.navbar {
    background-color: var(--surface-color);
    box-shadow: 0 1px 6px var(--primary-color);
}

.navbar-brand,
.nav-link {
    color: var(--primary-color);
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--accent-color);
}



/*------------------------------------- Global Button Styles */

.btn-primary {
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: var(--background-color);
}

.btn-primary:hover {
    background-color: var(--accent-color);
    border: var(--accent-color);
}

.btn-outline-secondary {
    border: var(--background-color);
    color: var(--background-color);
}

.btn-outline-primary:hover {
    /* hover state */
}

/*----------------------------------- Hero Section */

#hero {
    color: var(--background-color);
    min-height: 60vh;
    background-image:
        linear-gradient(
        to right,
        rgba(var(--primary-rgb), 0.8),
        rgba(var(--primary-rgb), 0.35),
        rgba(var(--primary-rgb), 0)
    ), url("../images/hero.webp");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.hero-content {
    max-width: 50%;
    text-align: left;
}

.accent-dot {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--accent-color);
    border-radius: 50%;
}

#hero p {
    font-weight: 400;
}

#hero .btn {
    border: 1px solid var(--background-color);
    color: var(--background-color);
}


.poster-placeholder {
    width: 80%;
    max-width: 180px;
}

.poster-placeholder img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}